
.alert{
    margin: 4px;
    font-size: small;
}

.unused{
    background-color: #8C8C8C;
    opacity: 0.2;
    color: black;
}

#gostButtonTuto h3, .item h3{
    font-size: large;
    margin: 5px;
}

#gostButtonTuto{
    background: transparent;
    border: none !important;
}

.container{
    display: flex;
    justify-content: space-around;
}

.item{
    align-self: baseline;
    font-weight: bold;
}