<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bowtie++: create bowtie diagrams</title>

  <!-- Vendors scripts> -->
  <script src="/lib/vue/vue.min.js"></script>
  <script src="/lib/vue-router/vue-router.min.js"></script>
  <script src="/lib/vuex/vuex.min.js"></script>
  <script src="/lib/axios/axios.min.js"></script>

  <!-- Vendors styles -->
  <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bowtie++ scripts -->
  <script type="text/javascript" src="/js/env.js"></script>
  <script type="text/javascript" src="/js/editor/Init.js"></script>

  <!-- Bowtie++ styles -->
  <link href="/css/main.css" rel="stylesheet">

</head>
<body>
<div id="app">
  <div v-if="isStoreLoaded">
    <div class="container__navbar" v-if="showNavbar()">
      <navbar></navbar>
    </div>
    <div class="container__home">
      <home></home>
    </div>
    <div class="container__page" v-show="!onPage('Home')">
      <router-view></router-view>
    </div>
  </div>
</div>

<script type="module" src="/vue/AppVue.js"></script>
</body>
</html>
